@import "tailwindcss";
@import "./theme.css" layer(theme);

body {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-moulpali), serif;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4747477c;
  border-radius: 10px;
  transition: 0.05s;
}

::-webkit-scrollbar-thumb:hover {
  background: #30303099;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
  background: transparent !important;
}


